.wrapper {
  @include outer-container;
}

//=== Body
//=====================
body {
  background: $blue-dark;
  color: $gray-dark;
  font-family: $base-font-family;
  font-size: 16px;
  line-height: 1.8em;
}

//=== Header
//=====================
.site-header {
  background: $blue;
  .wrapper {
    background: url('../images/teamwork-head.png') no-repeat center 100px transparent;
    padding: $vertical 0 $vertical-lg*1.4;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  .teamwork-logotype {
    margin-bottom: $vertical-xs;
  }
}

//=== Content
//=====================
.content {
  background: #FFF;
  border-radius: 4px;
  padding: $vertical-sm;
  margin-bottom: $vertical-sm;
  &.first {
    margin-top: $vertical-sm;
  }
  h2 {
    color: shade($gray-dark, 40%);
    margin-top: $vertical-sm;
    &:first-child {
      margin-top: 0;
    }
  }
  .highlight {
    margin-left: -$vertical-sm;
    margin-right: -$vertical-sm;
  }
  p > code {
    background: tint($gray, 85%);
    border-radius: 2px;
    color: $blue-dark;
    padding: 2px 5px;
  }
}

.title-link {
  color: $orange;
  text-decoration: none;
}

.site-footer {
  background: shade($blue-dark, 20%);
  color: tint($blue, 20%);
  font-family: $code-font-family;
  font-size: 0.75em;
  padding: $vertical-sm;
  text-align: center;
  a {
    color: tint($blue, 30%);
    font-weight: 600;
    text-decoration: none;
  }
}
